html,
body {
    margin: 0;
    padding: 0;
}

.image-slider {
    .image-tile {
        display: flex;
        background-color: #ccc;
        align-items: center;
        justify-content: center;
    }
}

.text-slider {
    .text-tile {
        background-color: #eee;
        padding: 10px 70px;
    }
}

.ajax-tile {
    padding: 0px 20px;
    > a {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 400px;
        transition: all .3s;
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
        &.xsmall {
            display: none;
        }
        @media only screen and (max-width: 900px) {
            height: 252px;
            &.large {
                display: none;
            }
            &.medium {
                display: block;
            }
            &.small {
                display: none;
            }
            &.xsmall {
                display: none;
            }
        }
        @media only screen and (max-width: 650px) {
            height: 126px;
            &.large {
                display: none;
            }
            &.medium {
                display: none;
            }
            &.small {
                display: block;
            }
            &.xsmall {
                display: none;
            }
        }
        @media only screen and (max-width: 500px) {
            height: 63px;
            &.large {
                display: none;
            }
            &.medium {
                display: none;
            }
            &.small {
                display: none;
            }
            &.xsmall {
                display: block;
            }
        }
    }
}
