.slider-main-cntnr{
    position: relative;
    width: 100%;

    .controls {
        button {
            display: block;
            width: 64px;
            height: 64px;
            background: #333;
            position: absolute;
            top: 50%;
            margin-top: -32px;
            text-align: center;
            opacity: 0;
            border: 0;
            transition: all .3s;
            color: #fff;
            font-size: 2.8em;
            cursor: pointer;
            outline: 0;
            &.prev{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            &.next {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                right: 0;
            }
            &.hide {
                display: none;
            }
        }
    }
    &:hover {
        .controls {
            button {
                opacity: 1;
            }
        }
    }
}
.slider-cntnr {
    width: 100%;
    overflow: hidden;
    position: relative;
    &.three-slide-mode{
        width: 60%;
        margin: auto;
        overflow: visible;   
    }
    .slider {
        display: flex;
        .slide {
           min-width: 100%;
           max-width: 100%;
           box-sizing: border-box;
        }
    }
    
}
